<!DOCTYPE html>
<html>
  <head>
    <title> v-if directive example </title>
  </head>
  <body>
    <div id="app">
      <h1 v-if="!message"> Envoyez un message a l'aide! </h1>
      <textarea v-model="message"></textarea>
      <button v-if="message"> Envoyer! </button>
      <pre> {{ $data }} </pre>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        message: "Le Roix est mort!"
      }
    })
  </script>
</html>
